[Desktop Entry]
Encoding=UTF-8
Name=FOCUS
Comment=Client for FOCUS
GenericName=Kiosk
Icon=focus
Exec=sudo /opt/focus/run
Terminal=false
X-GNOME-Autostart-Delay=10
