@font-face {
	font-family: Nexa;
	src: url(../font/nexa-light.woff);
}
@font-face {
	font-family: Nexa;
	src: url(../font/nexa-bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-Regular.woff);
}
@font-face {
    font-family: OpenSansCondensed;
    src: url(../font/OpenSans-CondLight.woff);
}
@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans-Bold.woff);
    font-weight: bold;
}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.current-to-left{
    animation: currentToLeft 0.8s forwards;
    -o-animation: currentToLeft 0.8s forwards;
    -moz-animation: currentToLeft 0.8s forwards;
    -webkit-animation: currentToLeft 0.8s forwards;
}
.right-to-current{
    animation: rightToCurrent 0.8s forwards;
    -o-animation: rightToCurrent 0.8s forwards;
    -moz-animation: rightToCurrent 0.8s forwards;
    -webkit-animation: rightToCurrent 0.8s forwards;
}
.left-to-current{
    animation: leftToCurrent 0.8s forwards;
    -o-animation: leftToCurrent 0.8s forwards;
    -moz-animation: leftToCurrent 0.8s forwards;
    -webkit-animation: leftToCurrent 0.8s forwards;
}
.current-to-right{
    animation: currentToRight 0.8s forwards;
    -o-animation: currentToRight 0.8s forwards;
    -moz-animation: currentToRight 0.8s forwards;
    -webkit-animation: currentToRight 0.8s forwards;
}
.current-to-bottom{
    animation: currentToBottom 0.8s forwards;
    -o-animation: currentToBottom 0.8s forwards;
    -moz-animation: currentToBottom 0.8s forwards;
    -webkit-animation: currentToBottom 0.8s forwards;
}
.top-to-current{
    animation: topToCurrent 0.8s forwards;
    -o-animation: topToCurrent 0.8s forwards;
    -moz-animation: topToCurrent 0.8s forwards;
    -webkit-animation: topToCurrent 0.8s forwards;
}
.current-to-top{
    animation: currentToTop 0.8s forwards;
    -o-animation: currentToTop 0.8s forwards;
    -moz-animation: currentToTop 0.8s forwards;
    -webkit-animation: currentToTop 0.8s forwards;
}
.bottom-to-current{
    animation: bottomToCurrent 0.8s forwards;
    -o-animation: bottomToCurrent 0.8s forwards;
    -moz-animation: bottomToCurrent 0.8s forwards;
    -webkit-animation: bottomToCurrent 0.8s forwards;
}

@keyframes currentToLeft {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@keyframes rightToCurrent {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
@keyframes leftToCurrent {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0); 
    }
}
@keyframes currentToRight {
  0%   { transform: translateX(0); }
  100% { transform: translateX(100%);}
}
@keyframes currentToBottom {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}
@keyframes topToCurrent {
  0%   { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}
@keyframes currentToTop {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-100%);}
}
@keyframes bottomToCurrent {
  0%   { transform: translateY(100%); }
  100% { transform: translateY(0); }
}
@-webkit-keyframes currentToLeft {
  0%   { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(-100%);}
}
@-webkit-keyframes rightToCurrent {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(0); }
}
@-webkit-keyframes leftToCurrent {
  0%   { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(0); 
    }
}
@-webkit-keyframes currentToRight {
  0%   { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(100%);}
}
@-webkit-keyframes currentToBottom {
  0%   { -webkit-transform: translateY(0); }
  100% { -webkit-transform: translateY(100%);}
}
@-webkit-keyframes topToCurrent {
  0%   { -webkit-transform: translateY(-100%); }
  100% { -webkit-transform: translateY(0); 
    }
}
@-webkit-keyframes currentToTop {
  0%   { -webkit-transform: translateY(0); }
  100% { -webkit-transform: translateY(-100%);}
}
@-webkit-keyframes bottomToCurrent {
  0%   { -webkit-transform: translateY(100%); }
  100% { -webkit-transform: translateY(0); 
    }
}
@-moz-keyframes currentToLeft {
  0%   { -moz-transform: translateX(0); }
  100% { -moz-transform: translateX(-100%);}
}
@-moz-keyframes rightToCurrent {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(0); 
    }
}
@-moz-keyframes leftToCurrent {
  0%   { -moz-transform: translateX(-100%); }
  100% { -moz-transform: translateX(0); 
    }
}
@-moz-keyframes currentToRight {
  0%   { -moz-transform: translateX(0); }
  100% { -moz-transform: translateX(100%);}
}
@-moz-keyframes currentToBottom {
  0%   { -moz-transform: translateY(0); }
  100% { -moz-transform: translateY(100%);}
}
@-moz-keyframes topToCurrent {
  0%   { -moz-transform: translateY(-100%); }
  100% { -moz-transform: translateY(0);
     }
}
@-moz-keyframes currentToTop {
  0%   { -moz-transform: translateY(0); }
  100% { -moz-transform: translateY(-100%);}
}
@-moz-keyframes bottomToCurrent {
  0%   { -moz-transform: translateY(100%); }
  100% { -moz-transform: translateY(0); 
    }
}
@-o-keyframes currentToLeft {
  0%   { -o-transform: translateX(0); }
  100% { -o-transform: translateX(-100%);}
}
@-o-keyframes rightToCurrent {
  0%   { -o-transform: translateX(100%); }
  100% { -o-transform: translateX(0); 
    }
}
@-o-keyframes leftToCurrent {
  0%   { -o-transform: translateX(-100%); }
  100% { -o-transform: translateX(0); 
    }
}
@-o-keyframes currentToRight {
  0%   { -o-transform: translateX(0); }
  100% { -o-transform: translateX(100%);}
}
@-o-keyframes currentToBottom {
  0%   { -o-transform: translateY(0); }
  100% { -o-transform: translateY(100%);}
}
@-o-keyframes topToCurrent {
  0%   { -o-transform: translateY(-100%); }
  100% { -o-transform: translateY(0); 
    }
}
@-o-keyframes currentToTop {
  0%   { -o-transform: translateY(0); }
  100% { -o-transform: translateY(-100%);}
}
@-o-keyframes bottomToCurrent {
  0%   { -o-transform: translateY(100%); }
  100% { -o-transform: translateY(0); 
    }
}




































*{
    font-family: Nexa;
    outline: 0;
}
body{
    position: fixed;
    overflow: hidden;
}
section{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
}

.twilight{
    color: #2C1AD1;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

[data-position="right"]{
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
}
[data-position="left"]{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
[data-position="top"]{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
[data-position="bottom"]{
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
}

#front_section{
    background: #3e3d47;
    text-align: center;
}
#login_form{
    margin-top: 10%;
}
#login_form img{
    margin-bottom: 90px;
}
#login_form button{
    margin-top: 90px;
    width: 244px;
    color: #FFF;
    font-family: OpenSans;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    background: #2C1DA1;
    box-shadow: -4px 4px #1A1063;
    padding: 4px 0 8px;
    cursor: pointer;
}
.sign_in_error {
    animation: redShake 1s forwards; 
    -webkit-animation: redShake 1s forwards; 
    -o-animation: redShake 1s forwards; 
    background: #e74c3c !important;
    box-shadow: -4px 4px #c0392b !important;
}
.sign_in_success {
    background: #2ecc71 !important;
    box-shadow: -4px 4px #27ae60 !important;
}
@keyframes redShake {
	0% {
        transform: translate(2px, 1px) rotate(0deg);
        background: #e74c3c;
        box-shadow: -4px 4px #c0392b;
    }
	10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% {
        transform: translate(2px, 1px) rotate(-1deg);        
        background: #e74c3c;
        box-shadow: -4px 4px #c0392b;
    }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100%{
        transform: translate(1px, -2px) rotate(-1deg);
        background: #2C1DA1;
        box-shadow: -4px 4px #1A1063;
    }
}
@-webkit-keyframes redShake {
	0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
        background: #e74c3c;
        box-shadow: -4px 4px #c0392b;
    }
	10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);        
        background: #e74c3c;
        box-shadow: -4px 4px #c0392b;
    }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100%{
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
        background: #2C1DA1;
        box-shadow: -4px 4px #1A1063;
    }
}
@-moz-keyframes redShake {
	0% {
        -moz-transform: translate(2px, 1px) rotate(0deg);
        background: #e74c3c;
        box-shadow: -4px 4px #c0392b;
    }
	10% {
        -moz-transform: translate(-1px, -2px) rotate(-1deg);
    }
	20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
	40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
	50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
	70% {
        -moz-transform: translate(2px, 1px) rotate(-1deg);        
        background: #e74c3c;
        box-shadow: -4px 4px #c0392b;
    }
	80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
	100%{
        -moz-transform: translate(1px, -2px) rotate(-1deg);
        background: #2C1DA1;
        box-shadow: -4px 4px #1A1063;
    }
}
@-o-keyframes redShake {
	0% {
        -o-transform: translate(2px, 1px) rotate(0deg);
        background: #e74c3c;
        box-shadow: -4px 4px #c0392b;
    }
	10% {
        -o-transform: translate(-1px, -2px) rotate(-1deg);
    }
	20% { -o-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -o-transform: translate(0px, 2px) rotate(0deg); }
	40% { -o-transform: translate(1px, -1px) rotate(1deg); }
	50% { -o-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -o-transform: translate(-3px, 1px) rotate(0deg); }
	70% {
        -o-transform: translate(2px, 1px) rotate(-1deg);        
        background: #e74c3c;
        box-shadow: -4px 4px #c0392b;
    }
	80% { -o-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -o-transform: translate(2px, 2px) rotate(0deg); }
	100%{
        -o-transform: translate(1px, -2px) rotate(-1deg);
        background: #2C1DA1;
        box-shadow: -4px 4px #1A1063;
    }
}
#login_form input{
    padding: 3px 0;
    width: 244px;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 0;
}

#nav_section{
    width: 70px;
    background: #3e3d47;
    height: 100%;
    font-family: Nexa;
    z-index: 15;
    overflow-y: auto;
}
#nav_section li{
    text-align: center;
    color: #FFF;
}
#nav_section a{
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 70px;
    font-size: 11px;
    line-height: 120px;
    background-image: url('../img/nav-icons.png');
}
#nav_section li:first-child a{
    height: 74px;
    background-image: url('../img/nav-logo.png');
}
#nav_section li a:hover, #nav_section li a.active_nav{
    background-color: #FFF;
    color: #808080 !important;
}

#feed_a:hover, #feed_a.active_nav{background-position: 70.5px 0px;}
#records_a{background-position: 0px -70px;}
#records_a:hover, #records_a.active_nav{background-position: 70.5px -70px;}
#submissions_a{background-position: 0px -140px;}
#submissions_a:hover, #submissions_a.active_nav{background-position: 70.5px -140px;}
#logs_a{background-position: 0px -210px;}
#logs_a:hover, #logs_a.active_nav{background-position: 70.5px -210px;}
#logout_a{background-position: 0px -280px;}
#logout_a:hover, #logout_a.active_nav{background-position: 70.5px -280px;}

#header_section{
    height: 74px;
    z-index: 14;
    background: #E6E6E6;
}
#header_title_div{
    height: inherit;
    width: calc(100% - 290px);
    line-height: 74px;
    font-size: 30px;
    font-family: OpenSans;
    font-weight: bold;
    color: #000;
    text-align: center;
    float: left;
    padding-left: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#profile_div{
    width: 200px;
    float: right;
    background: #2C1DA1;
    height: inherit;
    color: #FFF;
    font-family: Nexa;
    text-align: center;
    font-size: 13px;
    padding-right: 20px;
}
#profile_div img{
    float: left;
    margin-left: 18px;
    margin-top: 18px;
}
#profile_div div{
    padding-top: 20px;
    line-height: 18px;
}

.section_div{
    margin-left: 70px;
    margin-top: 74px;
    height: calc(100% - 74px);
    width: calc(100% - 70px);
    overflow-y: auto;
    background: #FFF;
    text-align: center;
}

#scrnsht_interval_input{
    width: 40px;
}
#feed_section .section_div{
    font-family: OpenSansCondensed;
    text-align: center;
}
.window_div{
    background: #000;
    width: 350px;
    /* width: calc(33% - 50px - (50px/3)); */
    height: 220px;
    margin-left: 50px;
    margin-bottom: 50px;
    background: #000;
    text-align: center;
    color: #FFF;
    font-family: Nexa;
    position: relative;
    line-height: 23px;
    padding-bottom: 2px;
    font-size: 12px;
    display: inline-block;
}
.window_div.off{
    background: #FF6666;
    border: 2px solid #C0392B;
}
.window_div.idle{
    background: #FFCC00;
    border: 2px solid #D35400;
}
.window_div.active{
    background: #33CC66;
    border: 2px solid #27AE60;
}
.window_div.locked{
    background: #333333;
    border: 2px solid #000000;
}
.window_div img{
    width: 350px;
    height: 200px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.window_div:hover .unit_mngr_div{
    display: block;
}
.unit_mngr_div{
    display: none;
    position: absolute;
    top: -2px;
    right: -27px;
    width: 25px;
    line-height: 0;
}
.unit_mngr_div button{
    border: 0;
    width: 25px;
    height: 25px;
    background-color: #4D4D4D;
    background-image: url(../img/unit-mngmnt-icons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.unit_mngr_div button:nth-child(2){
    background-color: #808080;
    background-position: 0 -25px;
}
.unit_mngr_div button:nth-child(3){
    background-color: #B3B3B3;
    background-position: 0 -50px;
}
.chat_button{
    position: absolute;
    background: url(../img/chat-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    height: 23px;
    width: 25px;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

#records_section button{
    background: #463D8A;
    padding: 13px;
    color: #FFF;
    border: 0;
    cursor: pointer;
}

.section_header_div{
    margin: 30px auto;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    font-family: OpenSansCondensed;
    text-align: center;
    width: 80%;
    height: 50px;
    line-height: 50px;
}

#files_div{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
.file_div{
    width: 128px;
    height: 128px;
    text-align: center;
    font-family: Nexa;
    position: relative;
    display: inline-block;
}
.file_div img{
    cursor: pointer;
}
.file_name_div{
    position: absolute;
    bottom: 7px;
    height: 15px;
    width: inherit;
    width: calc(100% - 10px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}
.file_div img.c{background: #69D0D0;}
.file_div img.tar{background: #95A5A6;}
.file_div img.php{background: #B3B3B3;}
.file_div img.txt{background: #9B59B6;}
.file_div img.asm{background: #E74C3C;}
.file_div img.java{background: #33CC66;}
.file_div img.zip, .file_div img.rar{background: #3498DB;}


#log_div{
    width: 80%;
    margin: 0 auto;
    height: 70%;
    resize: none;
    font-family: 'Lucida Console';
    text-align: left;
    font-size: 12px;
    border: 1px solid #CCC;
}
.off_span{color: #C0392B;}
.active_span{color: #27AE60;}
.idle_span{color: #F39C12;}